@font-face {
  font-family: Nunito;
  src: url("../public/fonts/Nunito.ttf");
}

:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --foreground-color: #121212;
  --background-color: #f0f0f0;
  --off-background-color: #e0e0e075;
  --shadow-color: #00000020;
  --primary-color: #8e0076;
  --primary-color-high: #a9008c;
  --default-font: Nunito;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--default-font);
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  margin-top: 50px;
  margin-bottom: 20px;
}

.reveal {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease !important;
}

.revealShowing {
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.3s ease !important;
}

.revealSolarSystem * {
  filter: blur(0px) !important;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 80px;
  max-width: var(--max-width);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #f0f0f0;
    --background-color: #121212;
    --off-background-color: #20202075;
    --shadow-color: #00000050;
    --primary-color: #00d2d2;
    --primary-color-high: #00f5f5;
  }

  html {
    color-scheme: dark;
  }
}

@media (max-width: 800px) {
  .section {
    padding: 50px;
  }
}
